.item-card {
  height: 328px;
  width: 325px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.item-card__info {
  background-color: white;
  margin: 15px 0 0;
  width: fit-content;
  border-radius: 5px;
  padding: 2px 12px;
  position: absolute;
  font-size: 16px;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
}

.item-card__image {
  background-position: center;
  overflow: hidden;
  border-radius: 12px;
}
