#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page {
  padding: 2rem 2rem 0 2rem;
  box-sizing: border-box;
  max-width: 1440px;
  background-color: #f3f3f3;
  min-height: 100vh;
}

.page__content {
  box-sizing: border-box;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
