#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page {
  padding: 1.5rem 1.5rem 0 1.5rem;
  box-sizing: border-box;
  max-width: 1440px;
  background-color: #f3f3f3;
  min-height: 100vh;
  min-width: 80vw;
}

.page__content {
  box-sizing: border-box;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
