.main {
  margin: 0;
}

.cards__text {
  min-height: 60px;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
}

.cards__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
