.header {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
}

.header__container {
  display: flex;
}

.header__logo {
  height: 40px;
  max-width: 89px;
}

.header__date {
  margin: 0 0 0 24px;
  align-self: center;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
}

.header__nav {
  display: flex;
}

.header__nav_user {
  display: flex;
}

.header__add-clothes-btn {
  width: 116px;
  background-color: #f3f3f3;
  border: none;
  height: 24px;
  align-self: center;
  padding: 0;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  cursor: pointer;
}

.header__username {
  margin: 0;
  align-self: center;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
}

.header__avatar {
  width: 40px;
  height: 40px;
  padding: 4px 0 0 12px;
}
