.modal {
  display: flex;
  margin: 0;
  padding: 0;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  background: transparent url("../../assets/modal-close.svg") no-repeat;
  height: 16px;
  width: 16px;
  border: none;
  cursor: pointer;
}

.modal__image-content {
  max-width: 498px;
  max-height: 610px;
  background: #fff;
  border-radius: 16px;
  position: relative;
}

.modal__image {
  margin: 0;
  padding: 0;
  max-height: 498px;
  max-width: 498px;
  border-radius: 16px 16px 0 0;
}

.modal__footer {
  max-height: 112px;
  box-sizing: border-box;
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__text {
  margin: 0;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 20px;
}
